html {
  background-color: #1e1e1e;
  /* color:rgb(197, 181, 159); */
  color: lightblue;
}

header {
  font-size: 3rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

div.side-menu-bar {
  /* width: 12%; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  font-style: normal;
  border-style: groove;
  border-color: rgb(42, 182, 238);
}

div.content {
  /* width: 80%; */
  padding-left: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 1px solid red;
}

div.container {
  display: flex;
  justify-content: space-around;
}

.content-normal-text {
  font-size: 2rem;
  margin-right: 12%;
}

.content-code {
  margin-left: 8%;
  width: 70%;
}
